:root{
    --clr-primary: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey: hsl(217, 12%, 63%);
    --clr-mgrey: hsl(216, 12%, 54%);
    --clr-dgrey: hsl(216deg 14% 26%);
    --clr-blue: hsl(213, 19%, 18%);
    --clr-dblue: hsl(216, 12%, 8%);
    --weight-sm: 400;
    --weight-lg: 700;
    font-size: 15px;
    font-family: Overpass;
    font-weight: var(--weight-sm);
    box-sizing: border-box;

}
body{
    position: relative;
    background-color: var(--clr-dblue);
    color: var(--clr-white);
    margin:0;
}
p{
    color: var(--clr-grey);
    padding:0;
    line-height: 1.6;
}
h2{
    color: var(--clr-white);
    font-weight: var(--weight-lg);
    margin: 0.5em 0 0 0;
    letter-spacing: 0.1em;
}
.hide{
    display: none;
}
.container{
    position:relative;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}
.innerbox{
    position: absolute; 
    display: none;
    flex-direction: column;
    background-color: var(--clr-blue);
    padding: 2em;
    max-width: 25em;
    border-radius: 10%;
    margin:1em
}
.thanks{
    max-width: 25em;
    height: 25em;
    align-items: center;
    justify-content: space-between;
}
.thanks p{
    text-align: center;
}
.img-thank{
    min-width: 2em;
    height: auto;
    margin: 1em;
}

.ty-rating{
    max-width: fit-content;
    background-color: var(--clr-dgrey);
    color: var(--clr-primary);
    padding: 0.4em 2em;
    border-radius: 1.2em;
    margin-bottom: 2em;
}

.icon-container{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: var(--clr-dgrey); 
    color: var(--clr-white);
    font-weight: var(--weight-lg);
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-bottom: 1.5em;
}
.list-rating-bg:hover{
    background-color: var(--clr-primary);
}
.list-rating-bg.selected{
    background-color: var(--clr-primary);
}
.rating{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
}
.list-rating-bg{
    text-decoration: none;
    background-color: var(--clr-dgrey);
    color: var(--clr-white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
    
}
button{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 1em 1em;
    border-radius: 1.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border: 0;
    font-weight: var(--weight-lg);
    cursor: pointer;
}
button:hover{
    background-color: var(--clr-white);
    color: var(--clr-primary)
    
}

.innerbox.active{
    display: flex;
}
.attribution { font-size: 11px; text-align: center; display:none; }
.attribution a { color: hsl(228, 45%, 44%); }
